body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://ak5.picdn.net/shutterstock/videos/1096255/thumb/1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/*---------------------------- HEADER ----------------------------------------*/
.header {
  /*background-color: #f1f1f1;*/
  padding: 20px;
  text-align: center;
  color: #fff;
}
.column{
  padding: 20px;
  text-align: center
}

/*---------------------------NAVIGATION---------------------------------------*/
.vertical-nav {
  min-width: 10rem;
  width: 14rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: 100% ;
  margin-left: 0;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff;
}

.text-uppercase {
  letter-spacing: 0.1em;
}

.text-gray {
  color: #aaa;
}

.nav-tabs .nav-item {
  margin-bottom:-1px;
}
/*
.nav-tabs .nav-link{border:1px solid transparent;border-top-left-radius:.25rem;border-top-right-radius:.25rem}
.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{border-color:#e9ecef #e9ecef #dee2e6}
.nav-tabs .nav-link.disabled{color:#6c757d;background-color:transparent;border-color:transparent}
.nav-tabs .nav-item.show .nav-link,.nav-tabs .nav-link.active{color:#495057;background-color:#fff;border-color:#dee2e6 #dee2e6 #fff}
.nav-tabs .dropdown-menu{margin-top:-1px;border-top-left-radius:0;border-top-right-radius:0}
.nav-pills .nav-link{border-radius:.25rem}
.nav-pills .nav-link.active,.nav-pills .show>.nav-link{color:#fff;background-color:#007bff}
.nav-fill .nav-item{-ms-flex:1 1 auto;flex:1 1 auto;text-align:center}
.nav-justified .nav-item{-ms-flex-preferred-size:0;flex-basis:0;-ms-flex-positive:1;flex-grow:1;text-align:center}
.tab-content>.tab-pane{display:none}
*/

.icon-side {
  width: 25px;
}

/*------------------------------TEXT BEFORE LOGIN ----------------------------*/
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*----------------------------------SLIDE SHOW--------------------------------*/
#slider{
  width: 100%;
  height: auto;
}

/*-------------------------------------LOGIN----------------------------------*/
#header .rightbox{
    float:right;
    display: inline;
    width: 100px;
}

/* Full-width input fields */
.container input[type=text], .container input[type=password] {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Set a style for all buttons */
button {
background-color: #31ACF7;
color: white;
padding: 14px 20px;
margin: 4px 2px;
border: none;
cursor: pointer;
width: 100%;
}
.logbutton {
    position: absolute; /* or position: absolute; */
    top: 10px;
    right: 10px;
}
.button4 {border-radius: 12px;}

button:hover {
opacity: 0.8;
}

/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}
img.avatar {
width: 40%;
border-radius: 50%;
}
.container {
padding: 16px;
}
span.psw {
float: right;
padding-top: 16px;
}
p.psw{
  float: left;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 0px;
}
/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 3% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: red;
cursor: pointer;
}
/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)}
to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
from {transform: scale(0)}
to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
display: block;
float: none;
}
}

/*------------------ FOOTER ----------------------------------------- */
footer {
  bottom: 0px;
  width: 100%;
}

.rodapes{
  float: left;
  width: 30%;
  margin-left: 50px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0px;
  color: white;
}

#rodape{
  float: right;
 vertical-align: middle;
 margin-right:50px;
 margin-top:35px;
  }

#rodape ul li {
  list-style-type: none;
  display: inline;
  padding: 70px;
}

.footer-short {
  bottom: 0px;
  width: 85%;
  float: right;
  border-style: solid;
  border-color: white;
  border-width: thin;
}
/*------------------ Create Account ----------------------------------------- */


/*------------------ Logout -------------------------------*/
.submitAsBtn {
  background-color: #31ACF7;
  color: white;
  padding: 14px 20px;
  margin: 4px 2px;
  border: none;
  cursor: pointer;
  width: 100%;
}

/*------------------- Menus ----------------*/

.dropdown-active {
  background-color:#f0f2f5!important;
}

.dropdown-container {
  display: none;
  background-color: #f0f2f5;
  padding-left: 8px;
}

.dropdown-in {
  display:block;
  width:100%;
  padding:.25rem 1.5rem;
  clear:both;
  font-weight:400;
  color:#212529;
  text-align:inherit;
  white-space:nowrap;
  background-color:transparent;
  border:0
}

.dropdown-in:focus,.dropdown-in:hover {
  color:#16181b;
  text-decoration:none;
  background-color:#f8f9fa;
}

.dropdown-in.active,.dropdown-in:active {
  color:#16181b;
  text-decoration:none;
  background-color: #f8f9fa;
}

.dropdown-in.disabled,.dropdown-in:disabled {
  color:#6c757d;
  pointer-events:none;
  background-color:transparent
}

a.menu-highlight:hover {
  background-color:#f0f2f5!important;
}

.menu-highlight-active {
  background-color: #dae0e5!important;
  color: white;
}

/*-------------------- Menus After Login ---------------------*/
.menusLogin {
  width: calc(100% -17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

.myaccountlabel {
  width: 10rem;
  font-size:1.25rem;
  font-weight:300;
}

.myacc form input:not([type="submit"]) {
  line-height: 0.5em;
  width: 30rem;
  padding: 6px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*--------------- Vehicles -------------*/
.grid-vehicles {
  width:100%;
  height:100%;
  display:grid;
  grid-template-columns: 50% auto;
  grid-template-rows: auto auto auto;
  z-index: -100;
}

.vehicles_table {
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  float: left;
}

.vehicles_row {
  display: table-row;
}

.vehicle {
  width: 10rem;
  display: table-cell;
  padding:5px;
}

.vehicle_frame {
  width: 10rem;
  height: 10rem;
  background-color: black;
  border-style: solid;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.vehicle_frame img {
  max-width: 9.6rem;
  vertical-align: middle;
}

.vehicle label {
  text-align: center;
  width: 100%;
}

.vehicles_sideText {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: 20%;
  float: right;
}

.vehicle_filtro_lbl {
  width: 150px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/***********************************Mapa***********************************************/
.grid{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 70% auto;
  grid-template-rows: 90% auto;
  z-index:-100;

}

 #map { position:absolute; top:0; bottom:0; right: 0; left: 0; width:100%; }

	#tooltip {
        display: none;
        position: absolute;
        background: #666;
        color: white;
        opacity: 0.8;
        border: 1px dashed #999;
        font-family: sans-serif;
        font-size: 12px;
        height: 20px;
        line-height: 20px;
        z-index: 1000;
      }


.filters{
	grid-column-start: 2;
	grid-column-end: 3;
}


.infotext{
	color: #ffffff;
    font-size: 13px;
	margin-left:2em;
	margin-top: 2em
	grid-column-start: 2;
	grid-column-end: 3;
}
 .help{
  width:5em;
  height:2em;
  border-radius: 0.2em;
  border: none;
  background-color: #31ACF7;
  color: white;
  font-size: 15px;
  margin-left:1em;
  margin-top:1em;
  padding:0 0 0 0;
}
.tooltip-inner {
    white-space: pre-wrap;
}

/***********************************End of Mapa***********************************************/
/********************************************************************************************************************************************************************
****************************************** Table_previous_data *************************************************************************************************************
********************************************************************************************************************************************************************/

.table_pd {
  width: 100%;
  margin: 1em auto;
  table-layout: auto;
  border-collapse: collapse;
  Font-size:20px;
}

.table_pd th {
  border:solid  0.1em;
  border-color:#ffffff;
  color: #ffffff;
}
.table_pd td{
	text-align:center;
	border:solid  0.1em;
	border-color:#ffffff;
	color: #ffffff;
}

 .comfirm{
  width:10em;
  height:2.5em;
  border-radius: 0.2em;
  border: none;
  background-color: #31ACF7;
  color: white;
  font-size: 20px;
  margin-left:5em;
  margin-top:1em;
}


/********************************************************************************************************************************************************************
*********************************************************************************************************************************************************************
********************************************************************************************************************************************************************/
